/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
textarea {
    width: 100%;
    height: 100px;
    font-family: inherit;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.job-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.job-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.job-details p {
  margin: 0 0 10px;
  font-size: 0.9em;
  color: #555;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-details {
    width: 80%;
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.contact-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.contact-details p {
  margin: 0 0 10px;
  font-size: 0.9em;
  color: #555;
}

.skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 25px; */
}

.skill-details {
    width: 80%;
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.skill-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.skill-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-buttons {
    display: inline;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 50%;
    color: #333;
    padding: 6px;
}

/* contact modal */
.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    padding: 20px;
    margin: 5% auto;
    width: 300px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.modal-header {
    text-align: center;
    margin-top: 0;
}

.modal-header h3 {
    margin: 0;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* new workout form */
label, input {
  display: block;
}
.input-select {
    margin-top: 10px;
    margin-bottom: 20px;
}
input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

#user_email {
  margin-right: 10px
}